# Main Source
/src/ @sayrix @zhiyan114
/config/ @sayrix @zhiyan114
/messages/ @sayrix @zhiyan114

# Docker files
Dockerfile @sayrix
/docker-compose.yml @sayrix

# Langs
/i18n/ @sayrix

# All other files
* @sayrix