# Main Source
/src/ @sayrix @zhiyan114
/config/ @sayrix @zhiyan114

# Docker files
dockerfile @zhiyan114
/docker_run.sh @zhiyan114
/docker-compose.yml @zhiyan114

# Database schema
/prisma/* @zhiyan114

# Langs
/locales/ @sayrix
