aiohttp==3.8.6
aiosignal==1.3.1
arrow==1.2.3
asgiref==3.7.2
async-timeout==4.0.2
attrs==23.1.0
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.3
colorama==0.4.6
discord.py==2.3.1
Django==4.2.3
frozenlist==1.4.0
gitlint==0.19.1
gitlint-core==0.19.1
idna==3.4
multidict==6.0.4
protobuf==4.23.4
python-dateutil==2.8.2
python-dotenv==1.0.0
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
tzdata==2023.3
urllib3==2.0.7
yarl==1.9.2
