aiohttp==3.8.5
aiosignal==1.3.1
asgiref==3.7.2
async-timeout==4.0.2
attrs==23.1.0
certifi==2023.7.22
charset-normalizer==3.2.0
discord.py==2.3.1
Django==4.2.3
frozenlist==1.4.0
idna==3.4
multidict==6.0.4
mysql-connector-python==8.0.33
protobuf==3.20.3
psycopg2==2.9.6
python-dotenv==1.0.0
requests==2.31.0
sqlparse==0.4.4
tzdata==2023.3
urllib3==2.0.3
yarl==1.9.2
